body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.hero {
  height: 450px;
  background-image: url('/images/header.png');
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  background-color: #585858;
  color: #989898;
}

.clients {
  .img-clientstyle {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
}